# Dependencies
node_modules/
client/node_modules/

# Production builds
client/dist/

# Logs & Audit storage
server/audit_logs.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & OS
.env
.env.local
.DS_Store
Thumbs.db
test_integration.js
